# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Backup files
*~

# Java
*.class

# OS X
.DS_Store

# BON
ANY-diagram.tex
ARRAY-diagram.tex
BOOLEAN-diagram.tex
FILE-diagram.tex
FLOAT-diagram.tex
HASH-diagram.tex
HASH.digest-postcondition1.tex
INTEGER-diagram.tex
LIST-diagram.tex
NONE-diagram.tex
NUMBER-diagram.tex
SET-diagram.tex
SHA_1-diagram.tex
SHA_1-invariant1.tex
SHA_1-invariant2.tex
SHA_1.digest-precondition1.tex
SHA_256-diagram.tex
SHA_256-invariant1.tex
SHA_256-invariant2.tex
SHA_256.digest-precondition1.tex
STRING-diagram.tex
TABLE-diagram.tex
TREE-diagram.tex
TUPLE-diagram.tex
VALUE-diagram.tex
make-images.sh

# Local source archives
resources/FIPS/OpenSSL/www.openssl.org/source/

# Build artifacts
src/C/nacl/nacl-20110221/build/

demonstrations/aes/aes

demonstrations/aes/aes.bc

demonstrations/aes/aes.ll
