[submodule "src/C++/MIRACL/MIRACL"]
	path = src/C++/MIRACL/MIRACL
	url = https://github.com/CertiVox/MIRACL.git
[submodule "src/C/avr-crypto-lib"]
	path = src/C/avr-crypto-lib
	url = https://git.cryptolib.org/avr-crypto-lib.git
[submodule "src/C/arm-crypto-lib"]
	path = src/C/arm-crypto-lib
	url = https://git.cryptolib.org/arm-crypto-lib.git
[submodule "src/C/ed448goldilocks"]
	path = src/C/ed448goldilocks
	url = git://git.code.sf.net/p/ed448goldilocks/code
[submodule "src/Javascript/Forge/forge"]
	path = src/Javascript/Forge/forge
	url = https://github.com/digitalbazaar/forge.git
[submodule "src/Javascript/end-to-end"]
	path = src/Javascript/end-to-end
	url = https://code.google.com/p/end-to-end/
[submodule "src/C++/botan"]
	path = src/C++/botan
	url = git@github.com:randombit/botan.git
[submodule "src/C/OpenWhiteBox/AES"]
	path = src/C/OpenWhiteBox/AES
	url = https://github.com/OpenWhiteBox/AES.git
[submodule "src/C/openssl/openssl"]
	path = src/C/openssl/openssl
	url = https://github.com/openssl/openssl.git
[submodule "src/C/BoringSSL/HEAD/boringssl"]
	path = src/C/BoringSSL/HEAD/boringssl
	url = https://boringssl.googlesource.com/boringssl
[submodule "src/C/hs-cryptohash/HEAD/hs-cryptohash"]
        path = src/C/hs-cryptohash/HEAD/hs-cryptohash
        url = https://github.com/vincenthz/hs-cryptohash.git
[submodule "src/C/libsodium/HEAD/libsodium"]
        path = src/C/libsodium/HEAD/libsodium
        url = https://github.com/vincenthz/hs-cryptohash.git
[submodule "src/Java/ximix"]
        path = src/Java/ximix
        url = https://github.com/cwgit/ximix.git
[submodule "src/Ruby/rbnacl"]
	path = src/Ruby/rbnacl
	url = https://github.com/cryptosphere/rbnacl
[submodule "src/Rust/sodiumoxide"]
	path = src/Rust/sodiumoxide
	url = https://github.com/dnaq/sodiumoxide.git
[submodule "src/Rust/rust-openssl"]
	path = src/Rust/rust-openssl
	url = https://github.com/sfackler/rust-openssl.git
[submodule "src/Rust/rust-crypto"]
	path = src/Rust/rust-crypto
	url = https://github.com/DaGenix/rust-crypto.git
[submodule "src/Rust/tars"]
	path = src/Rust/tars
	url = https://github.com/seb-m/tars.git
[submodule "src/Rust/nadeko"]
	path = src/Rust/nadeko
	url = https://github.com/klutzy/nadeko.git
[submodule "src/Rust/suruga"]
	path = src/Rust/suruga
	url = https://github.com/klutzy/suruga.git
[submodule "src/Rust/cyclometer"]
	path = src/Rust/cyclometer
	url = https://github.com/cryptosphere/cyclometer.git
[submodule "src/Tools/time_trial"]
	path = src/Tools/time_trial
	url = https://github.com/dmayer/time_trial.git
