entries:
  * entry: "aes::AESEncrypt"
    cc:    type: simple

tests:
  * property: "aes::AESEncrypt"
    output: "AESEncrypt.kat"
    count: 100

hints:
  * decl: "aes::AESRounds"
    hint: loop

  * decl: "aes::KeyExpansion"
    hint: loop

  * decl: "aes::gtimes"
    hint: ignore

  * decl: "Cryptol::pmult"
    hint: ignore

  * decl: "Cryptol::pmod"
    hint: ignore

  * decl: "Cryptol::infFrom"
    hint: ignore
